*::selection{
    background-color: orangered;
}

html body{
    margin: 0 5px 5px 5px;
    border-color: rgb(178, 189, 159);
    height: 100vh;
    background-color: rgb(178, 189, 159);
    font-family:  'Brush Script MT', cursive;
}
html body::-webkit-scrollbar{ /*disable scrollbar for chromium*/
    display: none;
}

html body .Main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 0 0 5px 5px;
    background: rgb(164,139,139);
    background: linear-gradient(120deg, rgba(164,139,139,1) 0%, rgba(237,145,83,1) 37%, rgba(198,65,65,1) 100%);
}

.header {
    position: fixed;
    top: 0%;
    width: 95%;
    height: 75px;
    background-color: rgba(21, 21, 26, 0.281);
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(20px);
}

.logo{
    height: 75%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logo_icon, .title_logo{
    font-size: 225%;
    color: white;
}

.nav{
    height: 75%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px 0 5px;
    padding: 0 20px 0 20px;
    color: white;
    height: 75%;
    width:100px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 25px;
}

.nav ul li:hover{
    background-color: rgba(128, 128, 128, 0.219);
    border-radius: 8px;
}

.search_connection{
    height: 75%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_icon, .connection_icon{
    color: white;
    font-size: 200%;
    cursor: pointer;
    padding: 5px 20px 5px 20px;
    margin-right: 10px;
    transition: 0.5s;
}

.search_icon:hover{
    background-color: rgba(128, 128, 128, 0.219);
    border-radius: 8px;
}

.connection_icon:hover{
    background-color: rgba(128, 128, 128, 0.219);
    border-radius: 8px;
}

.connection_popup{
    position: absolute;
    transition: all 0.5s;
    width: 0;
    height: 0;
    background-color: rgba(106, 124, 139, 0.281);
    backdrop-filter: blur(20px);
    border-radius: 25px;
    overflow: hidden;
    font-family: "Gill Sans", sans-serif;
}

/* Formulaire de connexion */
.connection_form{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.close_icon_wrap{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: end;
}

.close_icon{
    position: absolute;
    color: white;
    margin: 5px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 50%;
}

.close_icon:hover{
    background-color: #ecf0f62f;
}

.input_wrap{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.input_mail, .input_password{
    width: 100%;
    margin: 10px;
    height: 30px;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
}

.input_mail::placeholder, .input_password::placeholder{
    color: white;
    text-align: center;
}

.input_mail:focus, .input_password:focus{
    text-align: center;
    border-bottom: 1px solid white;
}

.connection_title h1{
    text-align: center;
}

.connection_form h1, .connection_form h4{
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}

.connection_form h4 span{
    color: rgb(216, 104, 13);
    cursor: pointer;
}

.connection_form h4 span:hover{
    text-decoration: underline;
}

.connection_button_wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.connection_button{
    border: none;
    cursor: pointer;
    width: 50%;
    height: 50px;
}

/* Formulaire d'inscription */
.register_form{
    position: absolute;
    background-color: red;
    width: 100%;
    height: 100%;
    left: 100%;
}

.connection_title_wrap{
    width: 0;
    display: flex;
    justify-content: center;
    transition: all 0.7s;
}

.connection_popup_active{
    width: 25%;
    height: 50%;
}
