html body{
    margin: 0 5px 5px 5px;
    border-color: rgb(178, 189, 159);
    height: 100vh;
    background-color: rgb(178, 189, 159);
    font-family:  'Brush Script MT', cursive;
}
html body::-webkit-scrollbar{ /*disable scrollbar for chromium*/
    display: none;
}

html body .Main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 0 0 5px 5px;
    background-image: url(https://cdn.pixabay.com/photo/2023/09/18/11/23/ai-generated-8260197_1280.jpg);
}

.header {
    position: fixed;
    top: 0%;
    width: 95%;
    height: 75px;
    background-color: rgba(64, 64, 94, 0.301);
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border-top: solid 5px;
    border-color: rgb(178, 189, 159); */
}

.logo{
    height: 75%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logo_icon, .title_logo{
    font-size: 225%;
    color: white;
}

.nav{
    height: 75%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px 0 5px;
    padding: 0 20px 0 20px;
    color: white;
    height: 75%;
    width:100px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 25px;
}

.nav ul li:hover{
    background-color: rgba(128, 128, 128, 0.219);
    border-radius: 8px;
}

.search_connection{
    height: 75%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_icon, .connection_icon{
    color: white;
    font-size: 200%;
    cursor: pointer;
    padding: 5px 20px 5px 20px;
    margin-right: 10px;
    transition: 0.5s;
}

.search_icon:hover{
    background-color: rgba(128, 128, 128, 0.219);
    border-radius: 8px;
}

.connection_icon:hover{
    background-color: rgba(128, 128, 128, 0.219);
    border-radius: 8px;
}

.connection_popup{
    position: absolute;
    transition: all 0.5s;
    width: 0;
    height: 0;
    background-color: rgba(106, 124, 139, 0.281);
    backdrop-filter: blur(20px);
    border-radius: 25px;
    overflow: hidden;
}

.connection_popup_active{
    width: 25%;
    height: 35%;
}

.connection_form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.connection_header{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
}

.connection_cross{
    width: 100px;
    height: 40%;
    display: flex;
    justify-content: end;
}

.div_for_center{
    width: 100px;
}

.close_icon{
    background-color: rgb(56, 56, 165);
    border-bottom-left-radius: 10px;
    height: 100%;
    width: 50%;
    cursor: pointer;
}

.close_icon:hover{
    background-color: rgb(48, 48, 114);
}

.connection_title_wrap{
    width: 100px;
    display: flex;
    justify-content: center;
}

.connection_title{
    color: white;
}

.inputs{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.inputs input{
    width: 100%;
    height: 75%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(106, 124, 139, 0.651);
    border-radius: 15px;
    padding: 2.5px 20px 2.5px 10px;
}

.inputs input::placeholder{
    text-align: center;
    color: white;
    font-family: 'Brush Script MT', cursive;
}

.register_wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17%;
}

.register{
    color: white;
    cursor: pointer;
}

.confirm_button_warp{
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: end;
}

.confirm_button{
    background-color: rgb(56, 56, 165);
    border-top-left-radius: 10px;
    height: 100%;
    width: 12%;
    cursor: pointer;
}

.confirm_button:hover{
    background-color: rgb(48, 48, 114);
}